DB_URL=jdbc:postgresql://postgres-boonyapaween-bcc1.c.aivencloud.com:21522/defaultdb?sslmode=require
DB_USERNAME=avnadmin
DB_PASSWORD=change-me
# Needed when running on http://localhost (login cookie)
SESSION_COOKIE_SECURE=false